.logo {
    width: 40%;
    height: 40%;
    float: left;
    display: inline-flex;
    padding-right: 80%;
    padding-bottom: 0;
    overflow: hidden;
    flex-wrap: wrap;

   /* navigation bar */
}
.nav {
    padding: 0;
    margin: auto;
    width: 100%;
    height: 40px;
    list-style-type: none;
    display: inline-block;
    background-color: red;
    border-style: outset;
    border-color: red;
    overflow: hidden;
    flex-wrap: wrap;
    
    }
    .menu{
        float: left;
        color: whitesmoke;
        font-family: Nobile;
        font-weight: bold;
        padding: 8px;
        display: block;
        text-align: center;
        margin: 8px;
        text-decoration: none;
        border: none;
    

    }
        a:hover{
        display: block;
        float:center;
        position: center;
        background-color: white;
        margin: 8px;
        padding: 0;
        text-align: none;
        color: red;

}

.style{
     background-color: black;
     border: solid white;
    width: auto;
    height: auto;

}
.img {
    margin: 0, 320px;
    align-self: center;
    
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 8px 120px 8px 30px ;
    padding: 8px;
    line-height: 1.5em;
    
}
.posters{
    width: 20%;
    height: 20%;
    margin-left: 40px;
    margin-top: 15px;
}
h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 40px;
    margin-top: 8px;

}
li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 40px;
}
#footer{
        background-color: rgba(153, 0, 0, 1);
        font-size: 14px;
        font-family: nobile;
        color: whitesmoke;
        width: 100%;
        height: 300px;
        margin-top: 12px;
        padding:8px;
        border: solid;
        border-color:black;
        overflow: auto;
        } 
    