.logo {
    width: 40%;
    height: 40%;
    float: left;
    display: inline-flex;
    padding-right: 80%;
    padding-bottom: 0;
    overflow: hidden;
    flex-wrap: wrap;

   /* navigation bar */
}
.nav {

    
    /*

    Cfr Flex-Box

    display: flex;
    justify-content: center;
*/
    padding: 0;
    margin: auto;
    width: 100%;
    height: 40px;
    list-style-type: none;
    display: inline-block;
    background-color: red;
    border-style: outset;
    border-color: red;
    overflow: hidden;
    flex-wrap: wrap;
    
    
    }
    .menu{
        float: left;
        color: whitesmoke;
        font-family: Nobile;
        font-weight: bold;
        padding: 8px;
        display: block;
        text-align: center;
        margin: 8px;
        text-decoration: none;
        border: none;
    

    }
    /*hover effects*/
        a:hover{
        display: block;
        float:center;
        position: center;
        background-color: white;
        margin: 8px;
        padding: 0;
        text-align: none;
        color: red;
}
#readmore:hover{
    float:center;
        position: center;
}

/* background */
    .div{
      padding:0;
      margin:0;
        background-color: black;
        opacity: 70%;
    }
    /* FlexBox */
    .flex-container {
    width: auto;
    height: auto;
    flex-wrap: wrap;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.50;
    text-align: left;
    flex-direction: row;
    margin: 40px auto 0 auto;
}

.flex-item {
    background-color: black;
    width: 300px;
    height: auto;
    margin: 0;
    padding: 8px 8px 8px 8px;
    display: -webkit-inline-flex;
    flex-direction: column;
    overflow: auto;

    
}
.secondflexitem{
     background-color: black;
    width: 800px;
    height: auto;
    margin: 0;
    padding: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    overflow: auto;

}
.thirdflex{
     background-color: black;
    width: 800px;
    height: auto;
    margin:0 0 300px 0;
    overflow: auto;
    padding: 8px 8px 8px 8px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
@media (min-width: 100px){
    .flex-container{
        display: flex;

    }
} 

/* text */
.headingtitle{
    background-color: white;
    color:black;
    width: auto;
    height: auto;
    margin:auto;
    padding: 8px;

}
p {
    background-color: rgba(255, 0, 0, 0.6);
    width:auto;
    height: auto;
    margin: auto;
    padding: auto;
    color: whitesmoke;
    padding: 8px;
    font-size: 14px;

}
/*background image (how to use)*/

    .backimage {
        background-image: url("../test/heroimage.png");
        background-attachment: fixed;
        background-size: cover;

    }
    /*images*/
    .poster{
        margin:0 auto;
        display: block;
        overflow: auto;

    }
    #footer{
        background-color: rgba(153, 0, 0, 1);
        font-size: 14px;
        font-family: nobile;
        color: whitesmoke;
        width: 100%;
        height: 300px;
        margin-top: 12px;
        padding:8px;
        border: solid;
        border-color:black;
        overflow: auto;
        

    }
    img {
        overflow:auto;
    }
    

    